{% extends "base.html" %}
{% load blog_extras %}
{% block content %}
    <h2>{{ post.title }}</h2>
    <article class="row">
        <section class="col">
            {% include "blog/post-byline.html" %}
        </section>
    </article>
    <article class="row">
        <section class="col">
            {{ post.content|safe }}
        </section>
    </article>
    <article class="row">
        <section class="col">
            {% recent_posts post %}
        </section>
    </article>
    {% include "blog/post-comments.html" %}
{% endblock content %}
